<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Açaí Place | Painel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header class="topo">
  <h1>🍧 Açaí Place</h1>
  <span>"Tudo posso naquele que me fortalece"</span>
</header>

<main class="container">

  {% if session["tipo"] == "gerente" %}
  <section class="card">
      <a href="/usuario/novo" class="btn-primary">
        👤 Cadastrar Usuário
      </a>
  </section>
  {% endif %}

  <section class="card">
    <h2>Cadastrar Produto</h2>

    <form method="POST" action="/produto/novo" class="form-grid">

      <input type="text" name="nome" placeholder="Nome do produto" required>

      <select name="categoria" required>
        <option value="" disabled selected>Categoria</option>
        <option value="acai">Açaí</option>
        <option value="adicional">Adicional</option>
        <option value="cerveja">Cerveja</option>
        <option value="refrigerante">Refrigerante</option>
        <option value="salgado">Salgado</option>
      </select>

      <input type="number" step="0.01" name="preco" placeholder="Preço" required>

      <input type="number" name="estoque" placeholder="Estoque" required>

      <button type="submit" class="btn-primary">Salvar Produto</button>

    </form>
  </section>


  <section class="atalhos">
    <a href="/comanda/nova" class="btn-large">Nova Comanda</a>
    <a href="/comandas" class="btn-large">🧾 Comandas Abertas</a>
    <a href="/venda" class="btn-large">Nova Venda</a>
  </section>


  <section class="card">
    <h2>Produtos cadastrados</h2>

    <div class="produtos-grid">
      {% for p in produtos %}
        <div class="produto-card">
          <div>
            <strong>{{ p.nome }}</strong>
            <p>R$ {{ "%.2f"|format(p.preco) }}</p>
            <small>{{ p.categoria }}</small>
          </div>

          <form method="post" action="/produto/{{ p.id }}/excluir">
            <button class="excluir">🗑</button>
          </form>
        </div>
      {% endfor %}
    </div>
  </section>

</main>

</body>
</html>
